In [3]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv("train.csv")
df["date"] = pd.to_datetime(df["date"])
df.head()

        date  store  item  sales
0 2013-01-01      1     1     13
1 2013-01-02      1     1     11
2 2013-01-03      1     1     14
3 2013-01-04      1     1     13
4 2013-01-05      1     1     10

In [7]:
df.isnull().sum()

date     0
store    0
item     0
sales    0
dtype: int64

In [12]:
df["date"].unique()

<DatetimeArray>
['2013-01-01 00:00:00', '2013-01-02 00:00:00', '2013-01-03 00:00:00',
 '2013-01-04 00:00:00', '2013-01-05 00:00:00', '2013-01-06 00:00:00',
 '2013-01-07 00:00:00', '2013-01-08 00:00:00', '2013-01-09 00:00:00',
 '2013-01-10 00:00:00',
 ...
 '2017-12-22 00:00:00', '2017-12-23 00:00:00', '2017-12-24 00:00:00',
 '2017-12-25 00:00:00', '2017-12-26 00:00:00', '2017-12-27 00:00:00',
 '2017-12-28 00:00:00', '2017-12-29 00:00:00', '2017-12-30 00:00:00',
 '2017-12-31 00:00:00']
Length: 1826, dtype: datetime64[ns]

In [15]:
for year in df['date'].dt.year.unique():
    yearly_df = df[df['date'].dt.year == year]
    yearly_df.to_csv(f"data/sales_{year}.csv", index=False)